<p>
	<mat-toolbar color="primary">
		<button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" [matMenuTriggerFor]="menu">
			<mat-icon>menu</mat-icon>
		  </button>
		<span id='app'>Little Linguist</span>
		<span class="example-spacer"></span>
		<button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
			<mat-icon>favorite</mat-icon>
		</button>
		<button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
			<mat-icon>account_circle</mat-icon>
		</button>
	</mat-toolbar>
	<mat-menu #menu="matMenu">
		<button mat-menu-item [routerLink]="'/'">
		<span>Main</span>
	  </button>
	  <button mat-menu-item [routerLink]="['/choose-game']">
		<span>Game</span>
	  </button>
	</mat-menu>
</p>