<br>
<form #registrationForm="ngForm" (ngSubmit)="onSubmitRegistration()">
  <div>
    <mat-form-field>
    <mat-label>Category Name:</mat-label>
      <input matInput [(ngModel)]="currentCategory.name" name="name" required>
    </mat-form-field>
  </div>
  <div><mat-form-field>
    <mat-label>Source Language:</mat-label>
      <input matInput [(ngModel)]="currentCategory.origin" name="origin" required disabled>
    </mat-form-field>
  </div>
  <div><mat-form-field>
    <mat-label>Target Language:</mat-label>
      <input matInput [(ngModel)]="currentCategory.target" name="target" required disabled>
    </mat-form-field>
  </div>

  <div *ngFor="let word of currentCategory.words; let i = index">
    <mat-form-field>
      <mat-label>Origin</mat-label>
      <input matInput [(ngModel)]="word.origin" name="wordOrigin{{i}}" pattern="[a-zA-Z\s]*" #originInput="ngModel" required>
      <mat-error *ngIf="originInput.invalid">Please enter correct details</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Target</mat-label>
      <input matInput [(ngModel)]="word.target" name="wordTarget{{i}}" pattern="[\u0590-\u05ea]*" required>
      <mat-error *ngIf="originInput.invalid">Please enter correct details</mat-error>
    </mat-form-field>

    <button mat-icon-button (click)="deleteWord(i)"><mat-icon>delete</mat-icon></button>

  </div>

  <div>
    <button mat-raised-button color="with" type="button" (click)="addWord()">+ Add new word</button>
  </div>

  <div>
    <button
            type="submit"
            mat-raised-button
            color="warn"
            [disabled]="registrationForm.invalid || registrationForm.pristine">
            Save
        </button>
  </div>
</form>